@model MobileGamePort.Models.Game

@{
    ViewData["Title"] = "Sửa Trò Chơi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col mb-2">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">
                    <i class="fa fa-list" aria-hidden="true"></i> @ViewData["Title"]
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Tab 1 thông tin tài khoản -->
            <div class="tab-pane active border border-top-0 p-3" role="tabpanel" id="tab-1">
                <div>
                    <h4>Game</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd>
                            <img src="@Html.DisplayFor(model => model.Image)" />
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
                    <a asp-action="Index">Danh sách trò chơi</a>
                </div>

            </div>
        </div>
    </div>
</div>
