@model IEnumerable<MobileGamePort.Models.Game>

@{
    ViewData["Title"] = "Trò Chơi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col mb-2">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">
                    <i class="fa fa-list" aria-hidden="true"></i> @ViewData["Title"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Create">
                    <i class="fa fa-list" aria-hidden="true"></i> Tạo Mới
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Tab 1 thông tin tài khoản -->
            <div class="tab-pane active border border-top-0 p-3" role="tabpanel" id="tab-1">


                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Tên trò chơi
                            </th>
                            <th>
                                Chức năng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Html.DisplayFor(modelItem => item.Image)" />
                                </td>
                                <td>
                                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Xem</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
            <!-- list game -->
        </div>
    </div>
</div>