@model MobileGamePort.Models.Game

@{
    ViewData["Title"] = "Xóa Trò Chơi";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-joy icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Quản Lý Trò Chơi
                    <div class="page-title-subheading">
                        Thêm mới, chỉnh sửa, xóa các trò chơi có trên hệ thống
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">@ViewData["Title"]</h5>
                <div>
                    <h3>Bạn có chắc chắn muốn xóa trò chơi này không ?</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Image)
                        </dd>
                    </dl>
                </div>
                <div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Xóa" class="btn btn-danger" /> |
                        <a asp-action="Index">Danh sách trò chơi</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
